<!DOCTYPE html>
<html>
  <head>
    {% include '/includes/head.html.twig' %}
    <title></title>
  </head>
  <body>
    <!--Navbar-->
    {% include '/includes/navbar.html.twig' %}
    <!-- End Navbar -->
    <div class="container">
      <h1 class="catch page_titles">Gotta Catch Them All!</h1>
      <div class="row">
        <!-- Registration Form -->
        <div class="col col-md-6">
          <div class="form">
            <h3 class="yellow">Register a New User Here</h3>
            <form name="registration" action="/register" method="post">
              <input class="blue" type="text" name="username" placeholder="Username/Email" required /><br><br>
              <input class="blue" type="password" name="password" placeholder="Password" required /><br><br>
              <input class="blue" type="submit" name="submit" value="Register"/>
            </form><br>
            {% if alert_register %}
            <div class="alert alert-danger" role="alert">
              {{ failed_register }}
            </div>
            {% endif %}
          </div>
        </div>
        <!-- End Registration Form -->
        <!-- Login Form -->
        <div class="col col-md-6">
          <div class="form">
            <h3 class="yellow">Existing User</h3>
            <form name="login" action="/login" method="post">
              <input class="blue" type="text" name="username" placeholder="Username/Email" required /><br><br>
              <input class="blue" type="password" name="password" placeholder="Password" required /><br><br>
              <input class="blue" type="submit" name="submit" value="Sign In" />
            </form><br>
            {% if alert_login %}
            <div class="alert alert-danger" role="alert">
              {{ failed_login }}
            </div>
            {% endif %}
          </div>
        </div>
      </div>
        <!-- End Login Form -->
      <!-- Carousel -->
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="/images/pokemon/pikachu.png" alt="Pikachu">
          </div>
          <div class="item">
            <img src="/images/pokemon/bulbasaur.png" alt="Bulbasaur">
          </div>
          <div class="item">
            <img src="/images/pokemon/squirtle.png" alt="Squirtle">
          </div>
          <div class="item">
            <img src="/images/pokemon/charmander.png" alt="Charmander">
          </div>
          <div class="item">
            <img src="/images/pokemon/jigglypuff.png" alt="Jigglypuff">
          </div>
          <div class="item">
            <img src="/images/pokemon/meowth.png" alt="Meowth">
          </div>
          <div class="item">
            <img src="/images/pokemon/sandshrew.png" alt="Sandshrew">
          </div>
          <div class="item">
            <img src="/images/pokemon/snorlax.png" alt="Snorlax">
          </div>
          <div class="item">
            <img src="/images/pokemon/magikarp.png" alt="magikarp">
          </div>
        </div>
      <!-- End Carousel -->
        </div>
    </div>
  </body>
</html>
