<!DOCTYPE html>
<html>
  <head>
    {% include '/includes/head.html.twig' %}
    <title></title>
  </head>
  <body>
    <!--Navbar-->
    <nav class="navbar navbar-default navbar-fixed-top" toll="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img alt="Brand" src="/images/pokemonTitle.png" class="pokelogo">
          </a>
        </div>
        <div>
          <ul class = "nav navbar-nav navbar-right extra-link">
            <li><a href="/types">Types</a></li>
            <li><a href="/pokemon_all">Pokemon</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="container">
    <h1>SUCCESS!!!!</h1>
    </div>


</body>
