<!DOCTYPE html>
<html>
  <head>
    {% include '/includes/head.html.twig' %}
    <title>Pokedex</title>
  </head>
  <body>
    <!--Navbar-->
      {% include '/includes/navbar.html.twig' %}
    <!-- End Navbar -->
    <div class="container">
      <h1 class="page_titles">Types</h1>
        {% if types|length  %}
            {% set typesPerColumn = (types|length / 3)|round(0, 'ceil') %}
                {% for type in types %}
                    {% if typesPerColumn == 1 or loop.index % typesPerColumn == 1 %}
                        <div class="col-md-4">
                          <ul>
                    {% endif %}
                        <a href="/type/{{ type.getId }}"><img class="type_img" src="{{ type.getImg_path }}"/></a>
                        <li class="type_item"><span class="bold">Strong Against:</span> {{ type.getStrength }}</li>
                        <li class="type_item"><span class="bold">Weak Against:</span> {{ type.getWeakness }}</li><br><br>
                    {% if loop.last or loop.index % typesPerColumn == 0 %}
                            </ul>
                        </div>
                    {% endif %}
                {% endfor %}
        {% endif %}
    </div>
  </body>
</html>
