body {
  background-color: #ffffe7;
  color: #355AAA;
  font-size: 18px;
  font-family: 'Righteous', cursive;
  background-color: #908F8F;
  padding-top: 125px;
}

.jumbotron {
  background-color: #313131;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 300px; /* use this, or not */
  height: 80%;
  margin: auto;
}

.carousel {
  height: 350px;
  padding-top: 30px;
}

.extra-link {
  margin-right: 25px;
  margin-top: 25px;
  font-size: 20px;
}

.title {
  height: 200px;
  width: auto;
}

.logout {
  float: right;
  margin-top: 35px;
  background-color: #355AAA;
  color: white;
}

.bold
{
  font-weight: bold;
}

.pokeball {
  width: 50px;
  height: auto;
}

.pokelogo {
  height: 60px;
  width: auto;
}

.navbar-brand {
  float: none;
}

.catch {
  font-size: 85px;
  text-align: center;
}

.pokename {
  text-align: center;
  font-size: 80px;
}

.pokemon_pic {
  height: 75px;
}
