body {
  background-color: #ffffe7;
  color: #325682;
  font-size: 18px;
  font-family: 'Kurale', serif;
}

.pokemon {
  width: 300px;
  height: 200px;
}

.title {
  height: 200px;
  width: auto;
}

.bold
{
  font-weight: bold;
}
