body {
  background-color: #ffffe7;
  color: #355AAA;
  font-size: 18px;
  font-family: 'Righteous', cursive;
  background-color: #908F8F;
  padding-top: 125px;
}

a:hover {
  color: #FFCB05;
}

.jumbotron {
  background-color: #313131;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 300px; /* use this, or not */
  height: 80%;
  margin: auto;
}

.carousel {
  height: 350px;
  padding-top: 30px;
}

.extra-link {
  margin-right: 25px;
  margin-top: 25px;
  font-size: 20px;
}

.title {
  height: 200px;
  width: auto;
}

.logout {
  float: right;
  margin-top: 35px;
  background-color: #355AAA;
  color: white;
}

.bold
{
  font-weight: bold;
}

.pokeball {
  width: 50px;
  height: auto;
}

.pokelogo {
  height: 60px;
  width: auto;
}

.navbar-brand {
  float: none;
}

.catch {
  font-size: 85px;
  text-align: center;
}

.pokename {
  text-align: center;
  font-size: 80px;
}

.pokemon_pic {
  height: 75px;
}

.pokemon-table {
  background: #E0E0E0;
}

.pokemon-table #img {
  width: 75px;
  text-align: center;
}

.pokemon-table tbody tr:hover {
  cursor: pointer;
  background: #F7D78B;
}

.pokemon-img {
  float: left;
  border-radius: 50%;
  height:450px;
  width: 450px;
  padding: 75px;
  line-height: 300px;
  background: url('../images/pokeball.png');
  text-align: center;
  margin-top: 100px;
  margin-right: 50px;
  box-shadow: 0 5px 15px #000
}

.pokemon-info {
  background: #E0E0E0;
  border-radius: 15px;
}

.pokemon-info li {
  margin: 10px 0;
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.pokemon-list div {
  margin: 20px;
  padding: 15px;
  text-align: center;
}

.pokemon-list .pokemon-image {
  background: url('../images/pokeball.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 15px;
}

.type_img {
  width: 150px;
  margin-right: 70px;
}

.title_img {
  width: 300px;
}
